* {
    margin: 0px;
    padding: 0px;
}

#calculator {
    margin: 20px 50px;
    
    background-color: #9796DE;
}

#visor {
    
}

#operators {

}

#row1 {

}

#row2 {
    
}

#row3 {
    
}

#row4 {
    
}

#row5 {
    
}

.simbol {

}